#pager ul.pages {
	width: 100%;
	text-align: center;
	margin-bottom: 80px;
	padding-left: 0
}
.page-number {
	width: 36px;
	height: 36px;
	line-height: 36px;
	border-radius: 50%;
}
#pager ul.pages li {
	display: inline-block;
	/*display: block;*/
	text-align: center;
	font-weight: bold;
	font-size: .85rem;
	margin: 3px;
	color: #34495e;
}
#pager ul.pages li:hover {
	color: #fff;
	background-color: #3c4852;
}
#pager ul.pages li.pgNext {
}
#pager ul.pages li.pgEmpty {
	display: none /*border:1px solid #eee;
color:#eee;
*/;
}
#pager ul.pages li.pgCurrent {
	color: #fff;
	font-weight: 700;
	background-color: #29c06d;
}
